<!DOCTYPE html>
<html>
<head>
	<title>krypto table</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="puplick/stylesheet/style.css">
</head>
<body>
<div calss="container">
	<h1> Krypto Table</h1>
		<div class="row">
		<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-bordered table-hover active table-condensed">
				<thead></thead>
					<tr class='info'>
						<th>current</th>
						<th>1 hour</th>
						<th>12 hours</th>
						<th>1 day</th>
						<th>2 days</th>
						<th>3 days</th>
						<th>5 days</th>
						<th>7 days</th>
						<th>10 days</th>
						<th>15 days</th>
						<th>20 days</th>
						<th>30 days</th>
						<th>35 days</th>
						<th>45 days</th>
						<th>50 days</th>
						<th>65 days</th>
						<th>75 days</th>
						<th>85 days</th>
						<th>100 days</th>
					</tr>
				<tbody>
					<tr class='active'>
						<td>BTC</td><td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					</tr>
					<tr>	
						<td>ETH</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						
					</tr>
					<tr>	
						<td>DASH</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>
						<td>3</td>

					</tr>
					<tr>
						<td>WAWES</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>
						<td>4</td>

					</tr>
					<tr>	
						<td>LTC</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						<td>5</td>
						
					</tr>
					<tr>	
						<td>UAH</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						
				</tbody>
			</table>
			</div>
		</div>
		</div>
	</div>
</div>
</body>
</html>