<!DOCTYPE html>
<html>
<head>
	<title>krypto table</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<h1> Krypto Table</h1>

<table clsaa="table">
	<thead>KKK</thead>
		<tr>
			<th>current</th>
			<th>1 hour</th>
			<th>12 hours</th>
			<th>1 day</th>
			<th>2 days</th>
			<th>3 days</th>
			<th>5 days</th>
			<th>7 days</th>
			<th>10 days</th>
			<th>15 days</th>
			<th>20 days</th>
			<th>30 days</th>
			<th>35 days</th>
			<th>45 days</th>
			<th>50 days</th>
			<th>65 days</th>
			<th>75 days</th>
			<th>85 days</th>
			<th>100 days</th>
		</tr>
	<tbody>
		<tr>
			<td>BTC</td>
		</tr>
		<tr>	
			<td>ETH</td>
		</tr>
		<tr>	
			<td>DASH</td>
		</tr>
		<tr>
			<td>WAWES</td>
		</tr>
		<tr>	
			<td>LTC</td>
		</tr>
		<tr>	
			<td>UAH</td>
		</tr>
	</tbody>
</table>

</body>
</html>