<!DOCTYPE html>
<html>
<head>
	<title>krypto table</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="puplick/stylesheet/style.css">
</head>
	<body>
		<div calss="container">
			<h1> Krypto Table</h1>
				<div class="table-responsive">
					<table border='1px' class="table table-bordered table-hover active table-condensed">
						<thead>
							<tr class='info'>
								<th>cost\Name</th>
								<th>BTC</th>
								<th>DASH</th>
								<th>ETH</th>
								<th>LTC</th>
								<th>UAH</th>
								<th>DOGE</th>
							</tr>
						</thead>
						<tfoot>
						 	<tr class="info">
						 		<th>cost\Name</th>
								<th>BTC</th>
								<th>DASH</th>
								<th>ETH</th>
								<th>LTC</th>
								<th>UAH</th>
								<th>DOGE</th>
							</tr>
						</tfoot>
						<tbody>
							<tr>
								<td>cerrent</td>
							</tr>
							<tr>	
								<td>1 hour</td>
							</tr>
							<tr>	
								<td>12 hrs</td>
							</tr>
							<tr>
								<td>24 hrs</td>
							</tr>
							<tr>	
								<td>3 days</td>
							</tr>
							<tr>
								<td>5 days</td>
							</tr>
							<tr>
								<td>1 week</td>
							</tr>
							<tr>
								<td>13 days</td>
							</tr>
							<tr>
								<td>2 weeks</td>
							</tr>
							<tr>
								<td>20 days</td>
							</tr>
							<tr>
								<td>30 days</td>
							</tr>
							<tr>
								<td>45 days</td>
							</tr>
							
							<tr>
								<td>65 days</td>
							</tr>
							<tr>
								<td>75 days</td>
							</tr>
							
							<tr>
								<td>100 days</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>