<!DOCTYPE html>
<html>
<head>
	<title>krypto table</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="puplick/stylesheet/style.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
	<body>
		<div calss="container">
			<h1> Krypto Table  <span class="glyphicons glyphicons-bitcoin"></span> </h1>
				<div class="table-responsive">
					<table border='1px' class="table table-bordered table-hover table-condensed">
						<thead>
							<tr class='info'>
								<th>
									<table>
										<th>time \</th>
										<td>&nbspname</td>
									</table>
								</th>
								<th> BTC </th>
								<th>DASH</th>
								<th>ETH</th>
								<th>LTC</th>
								<th>UAH</th>
								<th>DOGE</th>
							</tr>
						</thead>
						<tfoot>
						 	<tr class="info">
						 		<th>cost\Name</th>
								<th>BTC</th>
								<th>DASH</th>
								<th>ETH</th>
								<th>LTC</th>
								<th>UAH</th>
								<th>DOGE</th>
							</tr>
						</tfoot>
						<tbody>
							<tr>
								<td>cerrent</td> <td>1</td> <td>1</td> <td>1</td> <td>1</td> <td>1</td> <td>1</td>
							</tr>
							<tr>	
								<td>1 hour</td> <td>2</td> <td>2</td> <td>2</td> <td>2</td> <td>2</td> <td>2</td>
							</tr>
							<tr>	
								<td>12 hrs</td> <td>3</td>  <td>3</td> <td>3</td> <td>3</td> <td>3</td> <td>3</td>
							</tr>
							<tr>
								<td>24 hrs</td> <td>4</td> <td>4</td> <td>4</td> <td>4</td> <td>4</td> <td>4</td>
							</tr>
							<tr>	
								<td>3 days</td> <td>5</td> <td>5</td> <td>5</td> <td>5</td> <td>5</td> <td>5</td>
							</tr>
							<tr>
								<td>5 days</td> <td>6</td> <td>6</td> <td>6</td> <td>6</td> <td>6</td> <td>6</td>
							</tr>
							<tr>
								<td>1 week</td> <td>7</td> <td>7</td> <td>7</td> <td>7</td> <td>7</td> <td>7</td>
							</tr>
							<tr>
								<td>13 days</td> <td>8</td> <td>8</td> <td>8</td> <td>8</td> <td>8</td> <td>8</td>
							</tr>
							<tr>
								<td>2 weeks</td> <td>9</td> <td>9</td> <td>9</td> <td>9</td> <td>9</td> <td>9</td>
							</tr>
							<tr>
								<td>20 days</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td>
							</tr>
							<tr>
								<td>30 days</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td>
							</tr>
							<tr>
								<td>45 days</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td>
							</tr>
							
							<tr>
								<td>65 days</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td>
							</tr>
							<tr>
								<td>75 days</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td>
							</tr>
							<tr>
								<td>100 days</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td> <td>zzz</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>